/* =========================== */
/* Globe font stack examples
/* =========================== */


/* Serif headline */
/* font-family: 'Miller', Helvetica, Times New Roman, Times, serif;* / 

/* Sans-serif headline */
/* font-family: 'Benton', Helvetica, Arial, sans-serif; */

/* Serif body */
/* font-family: 'Georgia', Times New Roman, Times, serif; */

/* Sans-serif body */
/* font-family: 'Helvetica', Arial, sans-serif; */

/* =========================== */
/* Graphic styles
/* =========================== */
$sans = Helvetica, Arial, sans-serif
$serif = Georgia, Times, serif
$benton = Benton, Helvetica, Arial, sans-serif
$miller = Miller, Georgia, Times, serif
$miller-banner = Miller-Banner, Georgia, Times, serif

$regular = 400
$bold = 700

font(family = $serif, weight = 400, style = normal)
	font-family family
	font-weight weight
	font-style style
	
.state 
	margin 2em 0
	border 1px solid red
	width 50%
	float left
	padding 1em
	
ul.race 
	display block 
	transition 1s all
	
	&.transparent 
		opacity 0
		
	&.update 
		background-color rgba(#fffbcc, 0.5)
	
li.candidate
	list-style-type none
	
// Select dropdown
.nav-select
	height 2.5em
	width 100%
	display inline-block
	border 1px solid #efefef
	cursor pointer
	color $offblack
	font($benton, $bold)